* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(nightgenerated.jpg);
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(blue,aqua); */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    color: rgb(35, 7, 7);
    user-select: none;
}


.navigation a {
    padding: 10px;
    color: rgb(35, 7, 7);
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
}

.navigation a:hover{
    color: white;
    background-image: linear-gradient(30deg, blue, white);
    box-shadow: 0 0 15px rgb(0, 0, 255), 0 0 15px blue;
    border-radius: 25px;
}


.btn-login {
    color: rgb(35, 7, 7);
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(35, 7, 7);
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 6px;
    font-weight: 500;
    margin-left: 55px;
    transition: .6s;
}

.btn-login:hover {
    color: black;
    background-color: white;
    border: none;

}

.line {
    width: 90%;
    top: 20em;
    border: 2px solid white;

}

.card {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 450px;
    width: 305px;
    border: 1px solid rgba(245, 245, 245, 0.167);
    background-color: rgba(39, 158, 222, 0.314);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    transition: .5s;
    
}

.card:hover{
    box-shadow: 0 0 20px rgba(0, 8, 255, 0.35), 0 0 20px rgba(0, 21, 255, 0.517);
}

.card img {
    width: 300px;
    padding: 4px;
    height: 200px;
    border-radius: 10px;
}

.card p {
    line-height: 25px;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.1em;
    font-weight: 700;
}

.card button{
    font-size: 1.3em;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 75px;
    margin-top: 5px;
    border: none;
    font-weight: 500;
    transition: .5s ;
}
.card button:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0 0 20px blue, 0 0 20px blue;
    background-color: rgba(0, 0, 255, 0.302);
}

.card img line {
    width: 200px;
    border: 1px solid white;
}


