body {
    font-family: "Roboto Mono", monospace;
    background-color: #000000;
    color: white;
    overflow: hidden;
    margin: 0;

}

.main {

    display: flex;
    height: 100vh;
}

.main-content {
    flex: 1;
    background-color: #121212;
    overflow: auto;
}




.sidebar {
    background-color: black;
    width: 340px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

}



.music-player {
    /* background-color: black; */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;

}

a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    margin-top: 0.7rem;
}

.nav-option {
    line-height: 2.25rem;
    padding: 0.5rem 0.75rem;
    opacity: 0.6;
}

.nav-option:hover {

    opacity: 1;
}

.nav-option i {
    font-size: 1.23rem;

}

.nav-option a {
    font-size: 1.25rem;
    margin: 1.25rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
}

.options {
    display: flex;
    justify-content: space-between;

}

.icons {
    justify-content: space-around;
}

.lib-option img {
    height: 1rem;
    width: 1rem;

}

.icons {
    padding: 1rem;
    font-size: 1.2rem;
    display: flex
}

.icons i {
    margin-right: 1rem;
    opacity: 0.6;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    border-radius: 0.9rem;
    height: 7rem;
    padding: 1rem 1.35rem;
    margin: 0.5rem 0 0.5rem 0;
    margin-right: 0.5rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    font-size: small;
}

.box-p2 {
    font-size: 1rem;
    font-weight: 600;
    font-size: small;
}

.badge {
    border-radius: 100px;
    padding: 0.25rem 1rem;
    margin-top: 2px;
    height: 2rem;
    font-weight: 700;

}

.badge:hover {
    transform: scale(1.08);
    transition: 0.3s;

}

.card {
    padding: 1rem;

}

.cards {
    background-color: #232323;
    width: 150px;
    border-radius: 0.6rem;
    padding: 0.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;



}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 700;

}

.card-info {
    opacity: 0.6;
    font-size: small;
}

.cards-containder {
    display: flex;
    flex-wrap: wrap;

}

.cards:hover {
    transform: scale(1.04);
    transition: 0.3ms;


}

.space{
    height: 200px;
}